
/* Start-Grid */

 *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cards {
    border: 2px solid aqua;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    background-color: green;
}
.card {
    background-color: rgb(0, 0, 0);    
    border: 2px solid red;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* End-Grid */



/* Start Flex-Box */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    border: 2px solid aqua;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;

}

.card {
    background-color: black;
    border: 2px solid red;
    color: white;
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Flex-Box */
